@font-face {
  font-family: 'OpenSansCondensed-Bold';
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/OpenSansCondensed-Bold.woff2) format("woff2");
}

@font-face {
  font-family: 'OpenSansCondensed-Light';
  font-weight: 300;
  font-style: normal;
  src: url(../fonts/OpenSansCondensed-Light.woff2) format("woff2");
}

@font-face {
  font-family: 'OpenSans-Bold';
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/OpenSans-Bold.woff2) format("woff2");
}

@font-face {
  font-family: 'OpenSans-SemiBold';
  font-weight: 600;
  font-style: normal;
  src: url(../fonts/OpenSans-SemiBold.woff2) format("woff2");
}

@font-face {
  font-family: 'OpenSans-Regular';
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/OpenSans-Regular.woff2) format("woff2");
}

.header-top__phone, .header-main__description, .header-main__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  max-width: 1920px;
  font-family: 'OpenSans-Regular', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #fff;
  background-color: #333333;
}

body._lock {
  overflow: hidden;
}

a {
  display: inline-block;
  text-decoration: none;
  font-family: 'OpenSansCondensed-Bold', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
}

p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  text-transform: uppercase;
  line-height: 1;
}

h1 {
  font-family: 'OpenSansCondensed-Bold', sans-serif;
  font-weight: 700;
  font-size: 63px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: 'OpenSansCondensed-Light', sans-serif;
  font-weight: 300;
  font-size: 48px;
  letter-spacing: 0.1em;
}

h3 {
  font-family: 'OpenSansCondensed-Bold', sans-serif;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.05em;
}

.container {
  padding: 0 405px;
}

@media (max-width: 992px) {
  .container {
    padding: 0 109px 0 191px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 35px;
  }
}

header {
  min-height: 1045px;
  padding-top: 50px;
  background-image: url(../img/header-bg.png);
  background-position: center;
  background-size: cover;
}

@media (max-width: 768px) {
  header {
    min-height: 800px;
  }
}

@media (max-width: 576px) {
  header {
    min-height: 600px;
  }
}

.header-top a:hover,
.header-top a:active {
  color: #d1a954;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top__phone {
  position: relative;
}

.header-top__phone::after {
  content: '';
  position: absolute;
  bottom: -7px;
  width: 119px;
  height: 2px;
  background-color: #d1a954;
}

.header-top__phone-item {
  font-size: 16px;
  letter-spacing: 0.05em;
}

.header-top__menu {
  display: none;
  width: 26px;
  height: 20px;
  position: relative;
  z-index: 10;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.header-top__menu::before {
  content: '';
  width: 26px;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.header-top__menu::after {
  content: '';
  width: 12px;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.header-top__button {
  width: 20px;
  height: 3px;
  background-color: #fff;
  position: absolute;
  top: 8.5px;
  left: 0;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

@media (max-width: 992px) {
  .header-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-top__phone {
    margin-top: 50px;
  }
}

@media (max-width: 768px) {
  .header-top {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header-top__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-top__phone {
    margin: 0;
  }
}

.sticky {
  width: 100%;
  padding: 20px 405px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #333333;
}

@media (max-width: 992px) {
  .sticky {
    padding: 20px 109px 20px 191px;
  }
}

@media (max-width: 768px) {
  .sticky {
    padding: 20px 35px;
  }
}

.header-top__menu._active {
  -webkit-transform: translate(207px, -22px);
          transform: translate(207px, -22px);
  -webkit-transition: all 0.4s ease-out 0.2s;
  transition: all 0.4s ease-out 0.2s;
}

.header-top__menu._active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.4s ease-out 0.2s;
  transition: all 0.4s ease-out 0.2s;
  width: 22px;
  top: 17px;
}

.header-top__menu._active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all 0.4s ease-out 0.2s;
  transition: all 0.4s ease-out 0.2s;
  width: 22px;
}

.header-top__menu._active .header-top__button {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.2s ease 0.2s;
  transition: all 0.2s ease 0.2s;
}

.header-top.sticky .header-top__menu._active {
  -webkit-transform: translate(207px, 8px);
          transform: translate(207px, 8px);
}

@media (max-width: 576px) {
  .header-top__menu {
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  .header-top__menu::before {
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  .header-top__menu::after {
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  .header-top__menu._active {
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .header-top__menu._active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    width: 22px;
    top: 17px;
  }
  .header-top__menu._active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    width: 22px;
  }
}

.navigation__link {
  margin-right: 63px;
}

.navigation__navbar {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.navigation__social {
  display: none;
}

@media (max-width: 992px) {
  .navigation__link {
    margin-right: 28px;
  }
  .navigation__link:last-child {
    margin-right: 0;
  }
  .navigation__navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 768px) {
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    overflow: auto;
    top: 0;
    left: -100%;
    width: 300px;
    height: 800px;
    max-height: 100%;
    padding: 140px 39px 50px 39px;
    background-color: #333333;
    z-index: 3;
    -webkit-transition: all 1.2s ease;
    transition: all 1.2s ease;
  }
  .navigation::before {
    content: '';
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    min-height: 80px;
    background-color: inherit;
    z-index: 5;
    -webkit-transition: all 1.2s ease;
    transition: all 1.2s ease;
  }
  .navigation._active {
    left: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .navigation._active::before {
    left: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .navigation__navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .navigation__link {
    margin-right: 0;
    margin-bottom: 35px;
    font-size: 24px;
    letter-spacing: 0.05em;
  }
  .navigation__link:last-child {
    margin-bottom: 0;
  }
  .navigation__social {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    grid-row: auto;
    grid-gap: 50px;
    margin-top: 89px;
  }
}

@media (max-width: 576px) {
  .navigation {
    height: 600px;
    padding: 100px 39px 50px 39px;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
  }
  .navigation::before {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
  }
  .navigation__social {
    grid-gap: 30px;
    margin-top: 70px;
  }
}

.header-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  min-width: 150px;
  min-height: 1045px;
  background-color: rgba(51, 51, 51, 0.75);
  padding-bottom: 86px;
}

.header-side__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-side__text::after {
  content: '';
  bottom: 0;
  width: 3px;
  height: 80px;
  background-color: #c4c4c4;
  margin: 40px 0 10px;
}

.header-side__contact-info {
  font-family: 'OpenSansCondensed-Bold';
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  color: #c4c4c4;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header-side__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-side__social-link {
  margin-top: 30px;
}

@media (max-width: 768px) {
  .header-side {
    display: none;
  }
}

.header-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 190px;
}

.header-main__description {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-width: 540px;
  padding-top: 115px;
  margin-right: 125px;
}

.header-main__description > p, .header-main__description a {
  margin-top: 50px;
}

.header-main__slider {
  width: 370px;
}

.swiper {
  width: 370px;
  height: 570px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.swiper .swiper-button-next,
.swiper .swiper-button-prev {
  top: 100%;
  padding: 0 50px 25px 50px;
}

@media (max-width: 992px) {
  .header-main__slider {
    display: none;
  }
}

.button {
  width: 160px;
  height: 50px;
  padding: 16px 47px;
  font-family: 'OpenSansCondensed-Bold', sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.1em;
  color: #fff;
  background-color: #d1a954;
  cursor: pointer;
}

.button:hover {
  background-color: #fff;
  color: #d1a954;
}
