@import 'vars';
@import 'fonts';

%disp-flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  max-width: 1920px;
  font-family: 'OpenSans-Regular', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #fff;
  background-color: $dark;
}

body._lock {
  overflow: hidden;
}

a {
  display: inline-block;
  text-decoration: none;
  font-family: 'OpenSansCondensed-Bold', sans-serif;
  font-weight: 700;
  font-size: 18px; 
  line-height: 1;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
}

p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  text-transform: uppercase;
  line-height: 1;
}

h1 {
  font-family: 'OpenSansCondensed-Bold', sans-serif;
  font-weight: 700;
  font-size: 63px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: 'OpenSansCondensed-Light', sans-serif;
  font-weight: 300;
  font-size: 48px;
  letter-spacing: 0.1em;
}

h3 {
  font-family: 'OpenSansCondensed-Bold', sans-serif;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.05em;
}

.container {
  padding: 0 405px;
}

@media (max-width: 992px) {
  .container {
    padding: 0 109px 0 191px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 35px;
  }
}

header {
  min-height: 1045px;
  padding-top: 50px;
  background-image: url(../img/header-bg.png);
  background-position: center;
  background-size: cover;
}

@media (max-width: 768px) {
  header {
    min-height: 800px;
  }
}

@media (max-width: 576px) {
  header {
    min-height: 600px;
  }
}

.header-top a:hover,
.header-top a:active {
  color: $gold;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__phone {
    @extend %disp-flex-col;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      bottom: -7px;
      width: 119px;
      height: 2px;
      background-color: $gold;
    }
  }
  &__phone-item {
    font-size: 16px;
    letter-spacing: 0.05em;
  }
  &__menu {
    display: none;
    width: 26px;
    height: 20px;
    position: relative;
    z-index: 10;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    &::before {
      content: '';
      width: 26px;
      height: 3px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #fff;
      transition: all 0.4s ease-in-out;
    }
    &::after {
      content: '';
      width: 12px;
      height: 3px;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: #fff;
      transition: all 0.4s ease-in-out;
    }
  }
  &__button {
    width: 20px;
    height: 3px;
    background-color: #fff;
    position: absolute;
    top: 8.5px;
    left: 0;
    transition: all 0.4s ease-out;
  }
}

@media (max-width: 992px) {
  .header-top {
    flex-direction: column;
    &__phone {
      margin-top: 50px;
    }
  }
}

@media (max-width: 768px) {
  .header-top {
    flex-direction: row;
    &__menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &__phone {
      margin: 0;
    }
  }
}

// '.sticky' left and right paddings are equal to '.container' side paddings
.sticky {
  width: 100%;
  padding: 20px 405px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $dark;
}

@media (max-width: 992px) {
  .sticky {
    padding: 20px 109px 20px 191px;
  }
}

@media (max-width: 768px) {
  .sticky {
    padding: 20px 35px;
  }
}

.header-top__menu._active {
  transform: translate(207px, -22px);
  transition: all 0.4s ease-out 0.2s;
  &::before {
    transform: rotate(45deg);
    transition: all 0.4s ease-out 0.2s;
    width: 22px;
    top: 17px;
  }
  &::after {
    transform: rotate(-45deg);
    transition: all 0.4s ease-out 0.2s;
    width: 22px;
  }
}

.header-top__menu._active .header-top__button {
  transform: scale(0);
  transition: all 0.2s ease 0.2s;
}

.header-top.sticky .header-top__menu._active {
  transform: translate(207px, 8px);
}

@media (max-width: 576px) {
  .header-top__menu {
    transition: all 0.4s ease-in-out;
    &::before {
      transition: all 0.4s ease-in-out;
    }
    &::after {
      transition: all 0.4s ease-in-out;
    }
  }
  .header-top__menu._active {
    transition: all 0.5s ease-in-out;
    &::before {
      transform: rotate(45deg);
      transition: all 0.5s ease-in-out;
      width: 22px;
      top: 17px;
    }
    &::after {
      transform: rotate(-45deg);
      transition: all 0.5s ease-in-out;
      width: 22px;
    }
  }
}

.navigation {
  &__link {
    margin-right: 63px;
  }
  &__navbar {
    justify-content: flex-start;
  }
  &__social {
    display: none;
  }
}

@media (max-width: 992px) {
  .navigation {
    &__link {
      margin-right: 28px;
      &:last-child {
        margin-right: 0;
      }
    }
    &__navbar {
      display: flex;
      justify-content: center;
    }
  }
}

@media (max-width: 768px) {
  .navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    overflow: auto;
    top: 0;
    left: -100%;
    width: 300px;
    height: 800px;
    max-height: 100%;
    padding: 140px 39px 50px 39px;
    background-color: $dark;
    z-index: 3;
    transition: all 1.2s ease;
    &::before { // plashka under menu button
      content: '';
      position: fixed;
      top: 0;
      left: -100%;
      width: 300px;
      min-height: 80px;
      background-color: inherit;
      z-index: 5;
      transition: all 1.2s ease;
    }
    &._active {
      left: 0;
      transition: all 0.5s ease;
      &::before {
        left: 0;
        transition: all 0.5s ease;
      }
    }
    &__navbar {
      display: flex;
      flex-direction: column;
      align-self: flex-start;
    }
    &__link {
      margin-right: 0;
      margin-bottom: 35px;
      font-size: 24px;
      letter-spacing: 0.05em;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &__social {
      display:grid;
      grid-template-columns: auto auto;
      grid-row: auto;
      grid-gap: 50px;
      margin-top: 89px;
    }
  }
}

@media (max-width: 576px) {
  .navigation {
    height: 600px;
    padding: 100px 39px 50px 39px;
    transition: all 1s ease;
    &::before {
      transition: all 1s ease;
    }
    &__social {
      grid-gap: 30px;
      margin-top: 70px;
    }
  }
}

.header-side {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  min-width: 150px;
  min-height: 1045px;
  background-color: rgba($dark, 0.75);
  padding-bottom: 86px;  
  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &::after {
      content: '';
      bottom: 0;
      width: 3px;
      height: 80px;
      background-color: #c4c4c4;
      margin: 40px 0 10px;
    }
  }
  &__contact-info {
    font-family: 'OpenSansCondensed-Bold';
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    transform: rotate(-180deg);
    writing-mode: vertical-rl;
    color: #c4c4c4;
    user-select: none;
  }
  &__icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__social-link {
    margin-top: 30px;
  }
}

@media (max-width: 768px) {
  .header-side {
    display: none;
  }
}

.header-main {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 190px;
  &__description {
    @extend %disp-flex-col;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 540px;
    padding-top: 115px;
    margin-right: 125px;
    &>p,a {
      margin-top: 50px;
    }
  }
}

.button {
  width: 160px;
  height: 50px;
  padding: 16px 47px;
  font-family: 'OpenSansCondensed-Bold', sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.1em;
  color: #fff;
  background-color: $gold;
  cursor: pointer;
  &:hover {
    background-color: $grey;
  }
}