@import 'vars';
@import 'fonts';

%disp-flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  max-width: 1920px;
  font-family: 'OpenSans-Regular', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #fff;
  background-color: $dark;
}

body._lock {
  overflow: hidden;
}

a {
  display: inline-block;
  text-decoration: none;
  font-family: 'OpenSansCondensed-Bold', sans-serif;
  font-weight: 700;
  font-size: 18px; 
  line-height: 1;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
}

p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  text-transform: uppercase;
  line-height: 1;
}

h1 {
  font-family: 'OpenSansCondensed-Bold', sans-serif;
  font-weight: 700;
  font-size: 63px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: 'OpenSansCondensed-Light', sans-serif;
  font-weight: 300;
  font-size: 48px;
  letter-spacing: 0.1em;
}

h3 {
  font-family: 'OpenSansCondensed-Bold', sans-serif;
  font-weight: 700;
  font-size: 21px;
  letter-spacing: 0.1em;
}

h4 {
  font-family: 'OpenSansCondensed-Bold', sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.05em;
}

.container {
  padding: 0 405px;
}

@media (max-width: 1650px) {
  .container {
    padding: 0 200px;
  }
}

@media (max-width: 1280px) {
  .container {
    padding: 0 109px 0 191px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 35px;
  }
}

header {
  min-height: 1045px;
  padding-top: 50px;
  background-image: url(../img/header-bg.png);
  background-position: center;
  background-size: cover;
}

@media (max-width: 768px) {
  header {
    min-height: 800px;
  }
}

@media (max-width: 576px) {
  header {
    min-height: 600px;
  }
}

section {
  width: 100%;
  margin-top: 150px;
}

@media (max-width: 768px) {
  section {
    margin-top: 90px;
  }
}

@media (max-width: 576px) {
  section {
    margin-top: 80px;
  }
}

@media (min-width: 769px) {
  .contacts {
    margin-top: 120px;
  }
}

section span {
  color: $gold;
}

.header-top a:hover,
.header-top a:active {
  color: $gold;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__phone {
    @extend %disp-flex-col;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      bottom: -7px;
      width: 119px;
      height: 2px;
      background-color: $gold;
    }
  }
  &__phone-item {
    font-size: 16px;
    letter-spacing: 0.05em;
  }
  &__menu {
    display: none;
    width: 26px;
    height: 20px;
    position: relative;
    z-index: 10;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    &::before {
      content: '';
      width: 26px;
      height: 3px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #fff;
      transition: all 0.4s ease-in-out;
    }
    &::after {
      content: '';
      width: 12px;
      height: 3px;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: #fff;
      transition: all 0.4s ease-in-out;
    }
  }
  &__button {
    width: 20px;
    height: 3px;
    background-color: #fff;
    position: absolute;
    top: 8.5px;
    left: 0;
    transition: all 0.4s ease-out;
  }
}

@media (max-width: 992px) {
  .header-top {
    flex-direction: column;
    &__phone {
      margin-top: 50px;
    }
  }
}

@media (max-width: 768px) {
  .header-top {
    flex-direction: row;
    &__menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &__phone {
      margin: 0;
    }
  }
}

// '.sticky' left and right paddings are equal to '.container' side paddings
.sticky {
  width: 100%;
  padding: 20px 405px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: $dark;
}

@media (max-width: 1650px) {
  .sticky {
    padding: 20px 200px;
  }
}

@media (max-width: 1280px) {
  .sticky {
    padding: 20px 109px 20px 191px;
  }
}

@media (max-width: 768px) {
  .sticky {
    padding: 20px 35px;
  }
}

@media (max-width: 992px) and (min-width: 769px) {
  .header-top.sticky .header-top__phone {
    margin-top: 20px;
  }
}

.header-top__menu._active {
  transform: translate(207px, -22px);
  transition: all 0.4s ease-out 0.2s;
  &::before {
    transform: rotate(45deg);
    transition: all 0.4s ease-out 0.2s;
    width: 22px;
    top: 17px;
  }
  &::after {
    transform: rotate(-45deg);
    transition: all 0.4s ease-out 0.2s;
    width: 22px;
  }
}

.header-top__menu._active .header-top__button {
  transform: scale(0);
  transition: all 0.2s ease 0.2s;
}

.header-top.sticky .header-top__menu._active {
  transform: translate(207px, 8px);
}

@media (max-width: 576px) {
  .header-top__menu {
    transition: all 0.4s ease-in-out;
    &::before {
      transition: all 0.4s ease-in-out;
    }
    &::after {
      transition: all 0.4s ease-in-out;
    }
  }
  .header-top__menu._active {
    transition: all 0.5s ease-in-out;
    &::before {
      transform: rotate(45deg);
      transition: all 0.5s ease-in-out;
      width: 22px;
      top: 17px;
    }
    &::after {
      transform: rotate(-45deg);
      transition: all 0.5s ease-in-out;
      width: 22px;
    }
  }
}

.navigation {
  &__link {
    margin-right: 63px;
  }
  &__navbar {
    justify-content: flex-start;
  }
  &__social {
    display: none;
  }
}

@media (max-width: 1440px) {
  .navigation {
    &__link {
      margin-right: 30px;
    }
  }
}

@media (max-width: 992px) {
  .navigation {
    &__link {
      margin-right: 28px;
      &:last-child {
        margin-right: 0;
      }
    }
    &__navbar {
      display: flex;
      justify-content: center;
    }
  }
}

@media (max-width: 768px) {
  .navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    overflow: auto;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    padding: 140px 39px 50px 39px;
    background-color: $dark;
    z-index: 3;
    transition: all 1.2s ease;
    &::before { // plashka under menu button
      content: '';
      position: fixed;
      top: 0;
      left: -100%;
      width: 300px;
      min-height: 80px;
      background-color: inherit;
      z-index: 5;
      transition: all 1.2s ease;
    }
    &._active {
      left: 0;
      transition: all 0.5s ease;
      &::before {
        left: 0;
        transition: all 0.5s ease;
      }
    }
    &__navbar {
      display: flex;
      flex-direction: column;
      align-self: flex-start;
    }
    &__link {
      margin-right: 0;
      margin-bottom: 35px;
      font-size: 24px;
      letter-spacing: 0.05em;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &__social {
      display:grid;
      grid-template-columns: auto auto;
      grid-row: auto;
      grid-gap: 50px;
      margin-top: 89px;
    }
  }
}

@media (max-width: 576px) {
  .navigation {
    padding: 100px 39px 50px 39px;
    transition: all 1s ease;
    &::before {
      transition: all 1s ease;
    }
    &__social {
      grid-gap: 30px;
      margin-top: 70px;
    }
  }
}

.header-side {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  min-width: 150px;
  min-height: 1045px;
  background-color: rgba($dark, 0.75);
  padding-bottom: 86px;  
  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &::after {
      content: '';
      bottom: 0;
      width: 3px;
      height: 80px;
      background-color: #c4c4c4;
      margin: 40px 0 10px;
    }
  }
  &__contact-info {
    font-family: 'OpenSansCondensed-Bold';
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    transform: rotate(-180deg);
    writing-mode: vertical-rl;
    color: #c4c4c4;
    user-select: none;
  }
  &__icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__social-link {
    margin-top: 30px;
  }
}

@media (max-width: 768px) {
  .header-side {
    display: none;
  }
}

.header-main {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 190px;
  &__description {
    @extend %disp-flex-col;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 540px;
    padding-top: 115px;
    margin-right: 125px;
    &>p,a {
      margin-top: 50px;
    }
  }
  &__slider {
    @extend %disp-flex-col;
    width: 370px;
  }
}

@media (max-width: 1400px) {
  .header-main {
  &__description {
    margin-right: 70px;
    }
  }
}

@media (max-width: 992px) {
  .header-main {
    padding-top: 230px;
  &__description {
    padding-top: 0;
    margin-right: 0;
    }
  }
}

@media (max-width: 768px) {
  .header-main {
    justify-content: center;
    padding-top: 170px;
  }
}

@media (max-width: 576px) {
  .header-main {
    padding-top: 115px;
  }
}

@media (max-width: 450px) {
  .header-main {
    padding-top: 80px;
  }
}

.swiper {
  width: 370px;
  height: 570px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.swiper .swiper-button-next,
.swiper .swiper-button-prev {
  top: 100%;
  padding: 0 50px 25px 50px;
}

@media (max-width: 992px) {
  .header-main__slider {
    display: none;
  }
}

.button {
  width: 160px;
  height: 50px;
  padding: 16px 47px;
  font-family: 'OpenSansCondensed-Bold', sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.1em;
  color: #fff;
  background-color: $gold;
  cursor: pointer;
  &:hover {
    background-color: #fff;
    color: $gold;
  }
}

.section-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 100px;
}

@media (max-width: 768px) {
  .section-content {
    margin-top: 60px;
  }
}

.section-title {
  text-align: center;
}

.best-theatre {
  max-width: 445px;
  &__content {
    margin-top: 40px;
  }
}

.theatre-numbers {
  &__content {
    margin-top: 40px;
  }
  &__image {
    margin-bottom: 15px;
  }
  &__stage {
    margin-top: 20px;
  }
}

@media (max-width: 1450px) {
  .theatre-image {
    display: none;
  }
}

@media (max-width: 750px) {
  .section-content {
    flex-direction: column;
    align-items: center;
  }
  .best-theatre {
    max-width: 100%;
    text-align: center;
  }
  .theatre-numbers {
    margin-top: 60px;
    &__title {
      text-align: center;
    }
    &__content {
      display: flex;
      justify-content: center;
    }
    &__armchair {
      margin-right: 60px;
    }
    &__stage {
      margin-top: 0;
    }
  }
}

.products-items {
  &__item {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(51, 51, 51, 0.65);
    }
  }
  &__title {
    font-size: 24px;
    position: absolute;
    left: 40px;
    top: 40px;
    z-index: 2;
  }
  &__date {
    font-family: 'OpenSansCondensed-Bold', sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    position: absolute;
    left: 40px;
    bottom: 40px;
    transform: rotate(-180deg);
    writing-mode: vertical-rl;
    z-index: 2;
  }
  &__zoom {
    display: none;
    position: absolute;
    left: 171px;
    top: 225px;
  }
}

.products-items__item:hover {
  cursor: pointer;
  &::before {
    content: none;
  }
  .products-items__title,
  .products-items__date {
    display: none;
  }
  .products-items__zoom {
    display: block;
  }
}

.products-items.swiper {
  width: 100%;
  height: 550px;
}

.products-items .swiper-slide {
  width: 442px;
}

@media (min-width: 993px) {
  .products .container {
    padding: 0 0 0 150px;
  }
  .products .section-title {
    padding-right: 150px;
  }
}

.ratings {
  &__content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 190px;
    min-height: 550px;
    background-image: url(../img/ratings.png);
    background-position: center;
  }
  &__years {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 300px;
    min-width: 182px;
    margin-right: 103px;
  }
  &__year {
    font-family: 'OpenSansCondensed-Bold', sans-serif;
    font-weight: 700;
    font-size: 72px;
    line-height: 98px;
    letter-spacing: 0.1em;
    color: $gold;
  }
  &__stars>img {
    margin-right: 25px;
    margin-bottom: 25px;
  }
  &__text {
    max-width: 540px;
    font-family: 'OpenSans-Bold', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.5;
    letter-spacing: 0.05em;
  }
}

@media (max-width: 992px) {
  .ratings {
    &__content {
      padding-left: 190px;
    }
    &__years {
      margin-right: 58px;
    }
    &__stars>img {
      margin-right: 20px;
    }
    &__text {
      max-width: 450px;
      font-size: 34px;
    }
  }
  .ratings .container {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .ratings {
    &__content {
      padding-left: 100px;
    }
    &__years {
      margin-right: 0;
    }
    &__text {
      max-width: 388px;
      font-size: 29px;
    }
  }
}

@media (max-width: 576px) {
  .ratings {
    &__content {
      padding-left: 33px;
    }
    &__text {
      max-width: 330px;
      font-size: 25px;
    }
  }
}

@media (max-width: 500px) {
  .ratings {
    &__content {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &__years {
      margin-bottom: 25px;
    }
    &__description {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__text {
      text-align: center;
    }
  }
}

.partners-items.swiper {
  width: 100%;
  height: 280px;
}

.partners-items .swiper-slide {
  width: 200px;
}

.partners-items__item>img:first-child {
  margin-bottom: 80px;
}

address {
  font-style: normal;
}

.contacts {
  &__content {
    padding-bottom: 80px;
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  &__phones,
  &__addresses {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    &>a {
      font-size: 16px;
    }
  }
  &__phone {
    margin-bottom: 25px;
  }
  &__address {
    margin-bottom: 25px;
    &:last-child {
      line-height: 1.5;
    }
  }
  &__inputs {
    display: grid;
    grid-template-columns: 180px 180px 310px;
    grid-template-rows: 35px 35px;
    gap: 30px 30px;
    grid-template-areas: 
      'default default wide'
      'default default wide';
  }
  &__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
  }
  &__text {
    max-width: 390px;
    font-size: 12px;
    line-height: 1.5;
    color: $grey;
  }
  &__button.button {
    width: 190px;
    padding: 0;
  }
}

.input-name,
.input-company,
.input-phone,
.input-email {
  grid-area: default;
}

.input-message {
  grid-area: wide;
  padding-bottom: 65px;
}

@media (max-width: 992px) {
  .contacts .section-content {
    flex-direction: column-reverse;
  }
  .contacts {
    &__info {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-top: 80px;
    }
    &__addresses {
      display: flex;
      align-items: flex-end;
    }
    &__phones,
    &__addresses {
      &>a:last-child {
        margin-bottom: 0;
      }
    }
    &__inputs {
      grid-template-columns: 180px 180px 270px;
    }
  }
}

@media (max-width: 768px) {
  .contacts {
    &__content {
      padding-bottom: 60px;
    }
    &__info {
      margin-top: 60px;
    }
  }
}

@media (max-width: 576px) {
  .contacts {
    &__info {
      margin-top: 50px;
    }
    &__form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &__inputs {
      grid-template-columns: 230px 230px;
      grid-template-rows: 35px 35px 100px;
      gap: 30px 50px;
      grid-template-areas: 
      'default default'
      'default default'
      'wide wide';
    }
    &__description {
      flex-direction: column-reverse;
    }
    &__text {
      max-width: 435px;
      margin-top: 30px;
      text-align: center;
    }
  }
  .input-name,
  .input-company,
  .input-phone,
  .input-email {
    grid-area: default;
  }

  .input-message {
    grid-area: wide;
  }
}

@media (max-width: 550px) {
  .contacts {
    &__info {
      flex-direction: column;
    }
    &__phones,
    &__addresses {
      align-items: center;
    }
    &__phones>a:last-child {
      margin-bottom: 25px;
    }
    &__inputs {
      grid-template-columns: 230px;
      grid-template-rows: 35px 35px 35px 35px 100px;
      grid-template-areas: 
      'default'
      'default'
      'default'
      'default'
      'wide';
    }
  }
  .input-name,
  .input-company,
  .input-phone,
  .input-email {
    grid-area: default;
  }

  .input-message {
    grid-area: wide;
  }
}

input {
  background-color: #444444;
  border: 1px solid #616161;
  outline: none;
  font-family: 'OpenSans-SemiBold', sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: $grey;
  padding-left: 15px;
  &:focus {
    border-color: #fff;
    color: #fff;
  }
}